.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#top{
  
  font-family:'intro inline';
  /* font-weight: bold; */
  font-size:'4vw';
  color:deepskyblue ;
  
}
head{
  background-image: linear-gradient( 111.5deg, rgba(20,100,196,1) 0.4%, rgba(33,152,214,1) 100.2% );
  background-color: aquamarine;
}
/*body{
  background-image:url("https://cgx3j41r03fwkmmdtoy3l6aq-wpengine.netdna-ssl.com/wp-content/uploads/2018/07/cryptocurrency-768x512.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}*/

.jumbotron{
  margin-top: 0%;
 /* background-image: linear-gradient(to right,green,blue) ;*/
 /*background-image: linear-gradient( 111.5deg, rgba(20,100,196,1) 0.4%, rgba(33,152,214,1) 100.2% );*/
  
  background-color:
  linear-gradient(
    to right bottom,
    rgba( #7ed56f, 0.8),
    rgba(#28b485, 0.8)),
;
  width: 100%;
}

#footer{
  /*background-image: linear-gradient( 111.5deg, rgba(20,100,196,1) 0.4%, rgba(33,152,214,1) 100.2% );*/
  padding: 3% 0%;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  /*position: fixed;*/
 /* left: 0;*/
  bottom: 0;
  width: 100%;
  
}

.copyright{
  font-size: 1.2rem;
  font-weight: 500;
}

/*Contact*/


  


.links{
  color: blue;
  
}
body{
  overflow-x: hidden; width: 100%;
  /*background:linear-gradient(
    to right bottom,
    rgba( #7ed56f, 0.8),
    rgba(#28b485, 0.8)),
url(./images/ezgif.com-gif-maker.jpg); /* url(./images/ezgif.com-gif-maker.jpg) no-repeat center center fixed rgba(255,255,255,0.3);*/ 
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  
  background-blend-mode: soft-light;
  height: 100%;
  background-attachment: fixed;*/
  
  ;
  
}
html{
  height: 100%;
  width:100%;
  overflow-x: hidden;
}
/*html{
  background: url(./images/ezgif.com-gif-maker.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
.logo-img{
 
  margin: 70px;
 height: 600px;
 width: fit-content;

  padding: 10px;
  
  /*background-color: rgba(255,250,240, 0.7);*/
  background-color: white;
  
}
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  /*position: absolute;*/
  /*top: 50%;
  left: 50%;*/
  /*transform: translate(-50%, -50%);*/
  z-index: 2;
  /*width: 80%;*/
  padding: 20px;
  text-align: center;
}



.regB:hover{
  transform: scale(1.5);
  transition-duration: 0.5s;
}

.content{
  text-align: center;
  line-height: 2rem;
  font-size: 1.2rem;
  color:midnightblue;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}
.feature{
  
  padding-top: 2%;
  padding-bottom: 5%;
}
.feature-heading{
  color: rgba(20,100,196,1);
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.feature-line{
  border-color: rgba(20,100,196,1);
}

.feature-sub{
  font-size: 1.2rem;
  font-weight: 500;
}

.feature-content{
  line-height: 2rem;
  font-size: 1.2rem;
  font-family: 'Ubuntu', sans-serif;
}

.describe{
  background-image: linear-gradient( 111.5deg, rgba(20,100,196,1) 0.4%, rgba(33,152,214,1) 100.2% );
  padding-bottom: 30px;}

@media (max-width: 768px){
  .hl{
      height: 40%;
      width: 40%;
  }
  
}
.border-3 {
  border-width:3px !important;
}
.sidenav {
  height: 90vh;
  width: 25vw;
  position: fixed;
  z-index: 1;
  top: 30;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  
}
.Links{
  color:black;
  font-size: 1.5rem;
  font-weight: 600;
  
}
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  /* border-bottom: black; */
  background-color: white; 
  
}

  .learnC h2  { 
    margin-top: -200px; 
    padding-top: 200px; 
    display: inline-block;
  }

  .learnC h3  { 
    margin-top: -200px; 
    padding-top: 200px; 
    display: inline-block;
  }
.logoutt:hover{
  cursor: pointer;
}

.learnC {
  margin-left: 25vw; /* Same as the width of the sidenav */
   /* Increased text to enable scrolling */
  
  font-weight: 400;
  padding: 10px 10px;
}
/* .li::marker 
{
    font-size: 10rem;
    font-weight: 700;
} */

@media (max-width: 768px) {
  .learnC{
      margin-left:0
  }
  .hPad{
    margin-left:0
  }
  .cPad{
    margin-left:0
  }
  .olist{
    padding-left: 0;
  }
  .chartW{
    width:100%;
    height: 250px
  }
  .maW{
    width:100%
  }
  
}
 .maW{
  width:78%
} 
.hPad{
  padding-left: 10;
}
.cPad{
  padding-left: 50;
}
.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.video-responsive iframe{
  left:0;
  top:0;
  height:90%;
  width:90%;
  position:absolute;
}
.getStarted{
  background-color: #0abcf9;
background-image: linear-gradient(315deg, #0abcf9 0%, #2c69d1 74%);
border-radius: '50px';

-webkit-box-align: center;
    align-items: center;
    border: 0px solid transparent;
    border-radius: 4px;
    display: inline-flex;
    font-weight: 500;
    -webkit-box-pack: center;
    justify-content: center;
    white-space: nowrap;
    outline: 0px;
    font-size: 14px;
    
    line-height: 20px;
    padding-left: 16px;
    padding-right: 16px;
    
    
}
.quicklink{
  -webkit-box-align: center;
    align-items: center;
    background-color: #0abcf9;
background-image: linear-gradient(315deg, #0abcf9 0%, #2c69d1 74%);
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    
}
.qlinks{
  -webkit-box-align: center;
    align-items: center;
    background-color: #0abcf9;
    text-align: center;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    display: inline-flex;
   /*  margin-bottom: 16px;
    margin-left: 16px; */
    margin-right: 16px;
    justify-content: center;
    
}
.cryC {
  overflow-wrap: break-word;
  margin-bottom: 32px;
  font-size: 24px;
  color: rgb(20, 21, 26);
  font-weight: 400;
  line-height: 1.45;
}
.row-full{
  width: 100vw;
  position: relative;
  left:0
 }
 .table-container{
   max-height: 30rem;
   overflow: auto;
 }
 th{
   position: sticky;
   top: 0;
 }